/* CalcMadeEasy Long Logo */
.full-logo {
  width: 47rem;
  margin-bottom: 2rem;
  transform: translateX(-6rem);
  opacity: 1;
  animation: FadeInMoveLeft 2s ease;
}

.subtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.75rem;
  letter-spacing: 1.5px;
  margin: 0;
  opacity: 0;
  color: var(--txt-secondary);
  animation: fadeUp 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
}


.hero-container {
  width: 90vw;
  margin-top: 8rem;
  min-height: 60vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  gap: 0.5rem;
}

.full-logo-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}

@keyframes fadeUp {
  from {
    transform: translateY((20px));
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 0.9;
  }
}

.animation-player {
  margin-top: 0;
  background-color: none;
  background: none;
  border-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fadeIn 3s ease;
  flex: 1;
  max-width: 60vw;
  scale: 1;
}

.lorenz-animation {
  width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  user-select: none;

  animation: fadeIn 0.5s ease;
}


@keyframes fadeIn {
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes FadeInMoveLeft {
  from {
    opacity: 0;
    transform: translateX(-8rem);
  } to {
    margin-right: 0;
    opacity: 1;
    transform: translateX(-6rem);
  }
}
