.navbar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.2);
  box-shadow: none;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}