.card-container {
  height: auto;
  min-height: 110px;
  width: auto;
  min-width: 40rem;
  padding: 2rem 1.5rem;
  /* background-color: var(--txt-secondary); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--accent-primary);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
}

.question {
  color: var(--txt-primary);
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 1rem;
  line-height: 1.4;
  text-align: left;
}