.tag-container {
  color: var(--txt-primary);
  justify-content: center;
  margin: auto;
  align-items: center;
  opacity: 0.9;
}

.tag-name {
  scale: 1
}

.tag-name, .tag-container:hover {
  opacity: 1;
  scale: 1.1;
}

